@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Onest:wght@100..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
:root,
#root {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #000;
	font-family: Afacad;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
	background-color: transparent;
	width: 4px;
	height: 4px;
}

.custom-scrollbar {
	scrollbar-width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	width: 8px;
	height: 4px;
	border-radius: 8px;
	background-color: #afafaf;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: #afafaf44;
	border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
	display: none;
}
